<%= form_with(model: @task, local: true ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>Something wrong</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form">
  <div class="task_title form-group">
    <%= form.label :task_name %>
    <%= form.text_field :task_name, id: "task" , class: "form-control" %>
  </div>

  <div class="task_title form-group">
    <%= form.label :Content %>
    <%= form.text_field :content, class: "form-control" %>
  </div>
  <div class = "task_title form-group">
    <%= form.label :Status %><br>
    <%= form.select :status, options_for_select(Task.statuses), id: "status", class: "form-control" %>
  </div>

  <div class="task_title form-group">
    <%= form.label :Deadline %>
    <%= form.date_select :deadline, id: "deadline", class: "form-control"%>
  </div>
  <div class = "task_title form-group">
    <%= form.label :Priority %><br>
    <%= form.select :priority, options_for_select(Task.priorities), id: "status", class: "form-control" %>
  </div><br>


  <%= form.submit value:"Register", class: "btn btn-primary submit"%>
</div>
<% end %>
<br>
<%= link_to "Back to the task list", tasks_path, class: "badge badge-success" %>
