<%= form_with(model: @task, local: true ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>Something wrong</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form">
  <div class="task_title form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: "task" , class: "form-control"%>
  </div>

  <div class="task_title form-group">
    <%= form.label :Content %>
    <%= form.text_field :content, class: "form-control" %>
  </div>


   <div class="task_title form-group">
    <%= form.label :Status %>
    <%= form.select :status, options_for_select([[''],['unstarted'], ['in progress'], ['completed']]), id: "status", class: "form-control"  %>
  </div>

  <div class="task_title form-group">
    <%= form.label :Deadline %>
    <%= form.date_select :deadline, id: "deadline", class: "form-control"%>
  </div>


  <%= form.submit value:"Register", class: "btn btn-primary submit"%>
</div>
<% end %>
<br>
<%= link_to "Back to the task list", tasks_path, class: "badge badge-success" %>
