<p id="notice"><%= notice %></p>

<h1><%= t('views.task')%></h1><br>





<table>
  <tr>
    <td>
      <%= form_tag("/search/tasks", method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
      <% end %>




    </td>
    <td><label><%= t('views.status')%></label></td>
    <td><select name = "dropdown">
               <option value = "started" selected>1</option>
               <option value = "complete">2</option>
               <option value = "not started">3</option>
            </select></td>

    <td><label>deadline </label></td>
    <td><select name = "dropdown">
               <option value = "middle" selected>middle</option>
               <option value = "low">low</option>
               <option value = "hight">hight</option>
            </select></td>
              <td><label for="huey">deadline</label></td>
            <td><input type="radio" id="deadline" name="drone" value="dewey"></td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th> <%= t('views.name')%></th>
      <th><%= t('views.content')%></th>
      <th><%= t('views.deadline')%></th>
      <th><%= t('views.status')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>


    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= link_to t('views.button.show'), task %></td>
        <td><%= link_to t('views.button.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('views.button.destroy'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'sort by deadline', tasks_path(sort_by: 'true') %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to  t('views.button.new_task'), new_task_path %>
