<h1>Task details</h1>
<p>Name: <%= @task.task_name %></p>
<p>Description: <%= @task.content %></p>

<p>Status: <%= @task.status %></p>
<p>Status: <%= @task.priority %></p>
<p>Deadline: <%= @task.deadline %></p>
<% @task.labels.pluck(:title).each do |t| %>
  <%= t %>
<% end %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
